DESADV_D_96A_UN_EAN005
BGM|{{shipment.number}}|351|9
DTM|{{shipment.effective_date|replace('-','')}}|{{shipment.planned_date|replace('-','')}}
RFF|DQ|{{shipment.reference}}|{{shipment.effective_date|replace('-','')}}
NADMS|{{shipment.company.party.edi_operational_point}}
NADMR|{{shipment.customer.edi_operational_point}}
NADBY|{{shipment.company.party.edi_operational_point}}
NADSU|{{shipment.customer.edi_operational_point}}
NADDP|{{shipment.customer.edi_operational_point}}
NADUC|{{shipment.customer.edi_operational_point}}
NADSH|{{shipment.company.party.edi_operational_point}}
TDT|30
CPS|1
{% for move in shipment.outgoing_moves -%}
LIN|{{move.code_ean13}}|EN|{{loop.index}}
{% if move.lot -%}
PIALIN|||||||||{{move.lot.number}}
{% endif -%}
IMDLIN|F|{{move.product.name}}
QTYLIN|12|{{move.quantity}}|{{UOMS.get(move.uom.symbol)}}
{% if move.lot -%}
{% if move.lot.expiration_date -%}
PCILIN|36E|{{move.lot.expiration_date|replace('-','')}}||||||{{move.lot.number}}
{% else -%}
PCILIN|36E|||||||{{move.lot.number}}
{% endif -%}
{% endif -%}
{% endfor -%}
